---
import type { PackageData } from '@/lib/astro-supabase';
import PackageGridClient from './PackageGridClient';

export interface Props {
  packages: PackageData[];
}

const { packages } = Astro.props;
---

<div>
  <PackageGridClient packages={packages} client:load />
</div>